<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script src="../../../lib/jquery-1.9.1.min.js" type="text/javascript"></script>
        <!-- <script src="http://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script> -->
        <script type="text/javascript">exports=window;</script>
        <script src="marrow.js" type="text/javascript"></script>
    </head>

    <body>
        <div id="jobentry-view">
          <div data-attr-id="id" class="jobentry-view-content">
            <h1 data-bind="heading"></h1>

            <div>
                <h2>We have some if tests</h2>
                <p>ID comes here if it is found: <span data-if="id" data-bind="id"></span> </p>
                <div>Show default span if not set:
                    <div data-renderif="ENOEXIST" data-bind="ENOTFOUND"> THIS IS REMOVED
                        <p>Include if id is set: <span data-if="id" data-include="include-for-id">&lt;- this is removed because the parent renderif removes everything</span> </p>
                   </div>
               </div>

                <div>
                    <p><span data-bind="outside-text|upper|reverse|append:' -- ':outside-text:' &lt;- see what I did!!'"></span>: Include if id is set: <span data-if="id" data-include="include-for-id"></span> </p>
                </div>
            </div>

            <table class="job-info table table-bordered">
            <tr>
                <td class="job-info-label">Link</td>
                <td><a href="#" target="_new" data-bind="link"></a></td>
                <td>
                    <ul data-include="fishlist" data-foreach-fishes="fish">
                    </ul>
                </td>
            </tr>
          </table>

        <div data-attr-class="klass" data-attr-first-second="combovalue">
            <div data-foreach-fishes="fish">
                <pre data-bind="fish.name"></pre>
            </div>
        </div>
          <div data-bind="descr_html"></div>

          </div>
        </div>

        <script type="text/javascript">
            fishList = '<li data-bind="fish.name"></li>';
            idInclusion = '<span data-attr-id="display-|append:dummy.type" style="color: red;" data-bind="dummy.color.name"></span>'

            templates = MRW.Templates;
            templates.add('fishlist', fishList);
            templates.add('include-for-id', idInclusion);
            $(function() {
                target = $('#jobentry-view');

                s = MRW.escapeStr(target.html());
                mrw = new MRW.Marrow(s);
                ctx = {
                    'id': '123',
                    'heading': 'testor',
                    'descr_html': '<pre>lol</pre>',
                    'outside-text': 'outside',
                    'link': 'http://www.efukt.com/',
                    'fishes': [
                        {'name': 'trout'},
                        {'name': 'flounder'},
                        {'name': 'bass'},
                        {'name': 'salmonella'}
                    ],
                    'klass': 'fishlist',
                    'combovalue': 'tons of text',
                    'dummy': {
                        'type': 'color',
                        'color': {
                            'name': 'blue'
                        }
                    }
                }
                //mrw.loadDom(target);
                //mrw.renderString(ctx);
            });
        </script>
    </body>
</html>

